body{
    background-color: rgba(84, 194, 11, 0.432);
}
.div-1{
    font-size: larger;
    color: white;
    background-color: rgb(58, 209, 58);
    margin-top: -10px;
    height: 80px;
    border: double 7px green ;
    border-radius: 7px;
    margin-left: -9px;
    font-style: italic;
    width: 100%;
    text-align: center;
}
.sergo{
    font-size: 300%;
    margin-top: -1px;
}
.instructions{
    font-size: x-large;
    color: black;
}
.cover-div{
    background-color: white;
    height: 600px;
    width: 50%;
    margin-left: 28%;
    border-radius: 20px;
    margin-top: 40px;
    border:  solid 5px royalblue;
}
.div-2{
    height: 150px;
    margin-top: 10px;
    border-top: double 5px lightgreen ;
    border-bottom: double 5px lightgreen ;
    margin-bottom: 30px;
}
.Top{
   margin-left: 8px;
   font-size:x-large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Reg-Inp{
    margin-left: 34px;
    height: 30px;
    width: 42%;
    border: currentColor  gray;
    border-radius: 5px;
}

.Time-Inp{
    margin-left: 23.5%;
    height: 32px;
    width: 43%;
    border: currentColor  gray;
    border-radius: 5px;
}
.Date-Inp{
    margin-left: 23.5%;
    height: 32px;
    width: 43%;
    border: currentColor  gray;
    border-radius: 5px;
}
.first-name{
    margin-top: 28px;
    margin-right: -50px;
    margin-left: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second-name{
    margin-top: 28px;
    margin-right: -50px;
    margin-left: 50px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Names{
    border-radius: 5px;
    margin-right: -50px;
    margin-left: 50px;
    height: 6%;
    width: 30%;
    border: solid silver;
    margin-bottom: 20px;
}
.sec-names{
    border-radius: 5px;
    margin-left: 50px;
    margin-right: -50px;
    height: 6%;
    width: 30%;
    border: solid silver;
}
.email-address{
    margin-top: 28px;
    margin-left: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.email{
    border-radius: 5px;
    margin-left: 3px;
    height: 6%;
    width: 60%;
    border: solid silver;
}
.Gender{
    margin-top: 38px;
    margin-left: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Sex-Drp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 35px;
    border: solid silver;
    margin-right: -10px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.DOB{
    margin-top: 28px;
    margin-left: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.Dob-Inp{
    border-radius: 5px;
    margin-left: 3px;
    height: 6%;
    width: 22%;
    border: solid silver;
}
.Phone{
    margin-top: 28px;
    margin-left:1px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.Phone-Inp{
    border-radius: 5px;
    margin-left: 3px;
    height: 6%;
    width: 22%;
    border: solid silver;
}
.Sick-Inp{
    border-radius: 5px;
    margin-left: 56px;
    height: 6%;
    width: 42%;
    border: solid silver;
    margin-bottom: 20px;
}
.Prob{
    margin-top: 28px;
    margin-left: 20px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    
}
.Problem{
    border: solid silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 35px;
    margin-left: 2.5%;
    height: 32px;
    width: 43%;
    border: currentColor  gray;
    border-radius: 5px;
}
.Next{
    background-color: rgb(120, 180, 218);
    height: 40px;
    width: 80px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    margin-left: 85%;
    color: white;
    font-size: large;
}
#inputs{
    margin-top: 10px;
    height: 30px;  
    font-size: 16px;    
}