body{
    background-color: black;
}
.admission_head{
    margin-top: -20px;
    background-color: lightgreen;
    height: 80px;
    text-align: center;
    border-bottom: 8px solid black;
    border-radius: 8px;
}