body{
    background-color: lightgreen;
    animation-name: Glow;
    animation-duration: 30s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
@keyframes Glow{
    0% { background-color: lightgreen; }
    5% { background-color: lightblue; }
    10% { background-color: lightgreen; }
    15% { background-color: lightblue; }
    20% { background-color: lightgreen; }
    25% { background-color: lightblue; }
    30% { background-color: lightgreen; }
    35% { background-color: lightblue; }
    40% { background-color: lightgreen; }
    45% { background-color: lightblue; }
    50% { background-color: lightgreen; }
    55% { background-color: lightblue; }
    60% { background-color: lightgreen; }
    65% { background-color: lightblue; }
    70% { background-color: lightgreen; }
    75% { background-color: lightblue; }
    80% { background-color: lightgreen; }
    85% { background-color: lightblue; }  
    90% { background-color: lightgreen; }
    93% { background-color: lightblue; }
    95% { background-color: lightgreen; }
    98% { background-color: lightblue; }
    99% { background-color: lightgreen; }
    100% { background-color: lightblue; }
}
.headingdiv{
    background-color: rgb(17, 217, 17);
    height: 80px;
    text-align: center;
    border-top: 8px double black;
    border-bottom: 8px double black;
    border-radius: 8px;
    color: white;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
}
.s2div{
    margin-top: 20px;
}
.sickadmission{
    color: blue;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 330px;
}
.sick_button{
    width: 89px;
    height: 46px;
    margin-left: 72%;
    text-align:center ;
    color: black;
    border-radius: 5px;
    border-right: 5px double black;
    border-left: 5px double black;
    margin-top: -100px;
    background-color: rgb(171, 245, 171);
    animation-name: Glow_button;
    animation-duration: 30s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.sick_buton{
    width: 89px;
    height: 46px;
    margin-left: 72%;
    text-align:center ;
    color: black;
    border-radius: 5px;
    border-right: 5px double black;
    border-left: 5px double black;
    margin-top:-100px;
    background-color: rgb(171, 245, 171);
    animation-name: Glow_button;
    animation-duration: 30s;
    animation-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
@keyframes Glow_button{
    0% { background-color: lightgreen; }
    5% { background-color: lightblue; }
    10% { background-color: lightgreen; }
    15% { background-color: lightblue; }
    20% { background-color: lightgreen; }
    25% { background-color: lightblue; }
    30% { background-color: lightgreen; }
    35% { background-color: lightblue; }
    40% { background-color: lightgreen; }
    45% { background-color: lightblue; }
    50% { background-color: lightgreen; }
    55% { background-color: lightblue; }
    60% { background-color: lightgreen; }
    65% { background-color: lightblue; }
    70% { background-color: lightgreen; }
    75% { background-color: lightblue; }
    80% { background-color: lightgreen; }
    85% { background-color: lightblue; }  
    90% { background-color: lightgreen; }
    93% { background-color: lightblue; }
    95% { background-color: lightgreen; }
    98% { background-color: lightblue; }
    99% { background-color: lightgreen; }
    100% { background-color: lightblue; }
}